<section class="vitae-section">
	<h1>Education</h1>
	<article>
		<header>
			<h1>PhD in <a href="http://www.stat.berkeley.edu/biostat/">Biostatistics</a></h1>
			<p><a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://sph.berkeley.edu/">School of Public Health</a></p>
			<span><time>Aug 2013 to Dec 2016 (projected)</time><address>Berkeley, CA</address></span>
		</header>
		<p>
			<em>Advisor: <a href="http://hubbard.berkeley.edu/">Alan Hubbard, PhD</a></em>
		</p>
	</article>
	<article>
		<header>
			<h1>MA in <a href="http://www.stat.berkeley.edu/biostat/">Biostatistics</a></h1>
			<p><a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://sph.berkeley.edu/">School of Public Health</a></p>
			<span><time>Aug 2011 to May 2013</time><address>Berkeley, CA</address></span>
		</header>
		<p>
			<em>Thesis: <a href="http://oskicat.berkeley.edu/record=b21910029~S1">Can the `Wrong' Amount of Sleep Make You Fat?<br/>Sleep and Adiposity in Young Women</a><br />
			Chair: <a href="https://www.stat.berkeley.edu/~laan/">Mark J. van der Laan, PhD</a></a></em>
		</p>
	</article>
	<!--
	#### [Emory University](http://www.emory.edu/), Atlanta, GA

	Special Standing student (non-degree seeking)  
	September 2006 -- December 2010  
	[Laney Graduate School](http://www.graduateschool.emory.edu/) and [Rollins School of Public Health](http://www.sph.emory.edu/)
	-->
	<article>
		<header>
			<h1>BA in <a href="http://www.cs.duke.edu/">Computer Science</a> &amp; <a href="http://psychandneuro.duke.edu/">Psychology</a></h1>
			<p><a href="http://www.duke.edu/">Duke University</a>, <a href="http://trinity.duke.edu/">Trinity College of Arts &amp; Sciences</a></p>
			<span><time>Aug 1999 to Dec 2002</time><address>Durham, NC</address></span>
		</header>
		<!--
		<p>
			<em>Double major + certificate in <a href="http://sxl.aas.duke.edu/">Sexuality Studies</a></em>
		</p>
		-->
	</article>
</section>
<hr />