<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="fa-ul"> <!-- class="social-media-list" -->

          {% if site.email %}
          <li><i class='fa-li fa fa-envelope-square'></i>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% endif %}

          {% if site.url %}
          <li><i class='fa-li fa fa-external-link-square'></i>
            <a href="{{ site.url }}">{{ site.url }}</a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="fa-ul"> <!-- class="social-media-list" -->

          {% if site.linkedin_username %}
          <li><i class='fa-li fa fa-linkedin-square'></i>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li><i class='fa-li fa fa-github-square'></i>
            <a href="https://github.com/in/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li><i class='fa-li fa fa-twitter-square'></i>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.scholar_username %}
          <li><i class='fa-li fa fa-google'></i>
            <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
              Scholar profile
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
