<section class="vitae-section">
  <h1>Industry &amp; Professional</h1>

      <article>
        <header>
            <h1>Consultant</h1>
            <p><a href="http://www.gene.com">Genentech Inc.</a>, Bioinformatics &amp; Computational Biology</p>
            <span><time>Nov 2015 to Present</time><address>South San Francisco, CA</address></span>
        </header>
        <p>Shortly after my summer internship, I was offered a part-time position at Genentech. I'm a member of the team working to enhance and troubleshoot the R backend of the <a href="http://dx.doi.org/10.1186/gb-2011-12-7-r69">ExpressionPlot software package</a>.</p>
    </article>
    <article>
        <header>
            <h1>Intern</h1>
            <p><a href="http://www.gene.com">Genentech Inc.</a>, Bioinformatics &amp; Computational Biology</p>
            <span><time>Jun 2015 to Aug 2015</time><address>South San Francisco, CA</address></span>
        </header>
        <p>During my internship at Genentech, I began development on the <code>trackr</code> project envisioned by Gabe Becker. The <code>trackr</code> R package 'records' plots and other artifacts of data analysis, stores and annotates them automatically in a searchable backend, with the ultimate goals being discoverability, reproducibility, and provenance. The project has since been released <a href="https://github.com/gmbecker/recordr">on GitHub</a> and is the subject of a manuscript which is now under review (see below).</p>
    </article>
    <article>
        <header>
            <h1>Contract iOS App Developer</h1>
            <p><a href="http://www.unc.edu">University of North Carolina at Chapel Hill</a>, <a href="http://www.fpg.unc.edu/">FPG Child Development Institute</a></p>
            <span><time>Jun 2010 to Dec 2012</time></span>
        </header>
        <p>I implemented several iOS (iPad) apps using Cocoa Touch/Obj-C for a child development research group at UNC to use in-house and with overseas collaborators. These ranged from graphics-heavy memory tests conceptualized as games to enhanced form-filling apps for staff to use while observing research participants.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <p>Freelance</p>
            <span><time>Jan 2007 to Dec 2009</time></span>
        </header>
        <p><ul>
        	<li>HTML/CSS/JavaScript based websites (examples: <a href="http://www.builtbymoore.com/">[1]</a>, <a href="http://files.saraemoore.com/samples/eleneandjosh/index.html">[2]</a>)</li>
        	<li>Simple email newsletters (examples: <a href="http://files.saraemoore.com/samples/WSJ1/index.html">[1a]</a>, <a href="http://files.saraemoore.com/samples/WSJ2/index.html">[1b]</a>)</li>
        </ul></p>
    </article>
    <!--
    <article>
        <header>
            <h1>Student Employee</h1>
            <p><a href="http://www.duke.edu">Duke University</a>, <a href="https://aahvs.duke.edu/">Art &amp; Art History Department</a></p>
            <span><time>Aug 1999 to Dec 2002</time><address>Durham, NC</address></span>
        </header>
        <p><ul>
        	<li>Created and maintained webpages for courses within the department</li>
        	<li>Scanned and edited digital images</li>
        </ul></p>
    </article>
    -->
</section>
<hr />