<section id="projects">
  <h3>Current and Recent Projects</h3>
  <div class="panel panel-default">

<!--
    <hr />
  	This page is under construction
  	<hr />
-->
    <div class="panel-body">
		<h5>
			<i class="fa fa-ambulance"></i>&nbsp;&nbsp;<strong><a href="#">Patient-specific semi-parametric prediction</a></strong>
			- My dissertation research largely focuses on the development of a patient-specific or "localized" decision support algorithm. This is conceptualized as a supervised prediction method which performs both dimension and instance reduction data-adaptively to target only the most relevant information for a given patient. The predictive performance of the algorithm on real-world patient data exceeds that of existing physiological and anatomical trauma scoring systems and is competitive with an ensemble learner. This project's manuscript and accompanying R packages are currently in preparation.
		</h5>
		<h5>
			<i class="fa fa-flask"></i>&nbsp;&nbsp;<strong><a href="#">ExpressionPlot</a></strong>
			- As a consultant and R developer in Genentech's Bioinformatics and Computational Biology department, I'm part of the team working to enhance and troubleshoot the R backend of the <a href="http://dx.doi.org/10.1186/gb-2011-12-7-r69">ExpressionPlot software package</a>.
		</h5>
		<h5>
			<i class="fa fa-medkit"></i>&nbsp;&nbsp;<strong><a href="#">Coagulability &amp; related outcomes in traumatically injured patients</a></strong>
			- In collaboration with trauma care researchers at UCSF/<a href="http://zuckerbergsanfranciscogeneral.org/">ZSFGH</a>, I performed analyses exploring the relationship between hypercoagulabilty (as assessed by rotational thromboelastometry), thromboembolism, and other physiological, demographic, and treatment data in trauma patients. This project's manuscript in the final stages of preparation.
		</h5>
		<h5>
			<i class="fa fa-bar-chart"></i>&nbsp;&nbsp;<strong><a href="#">Data Visualization in R</a></strong>
			- In March, 2017, I presented <a href="http://www.saraemoore.com/Rdataviz2017/">"Advanced R Data Visualization"</a> to a group of UC Berkeley Epidemiology PhD students. This slide deck is <a href="https://github.com/saraemoore/Rdataviz2017/">available on github</a>.
		</h5>
		<h5>
			<i class="fa fa-twitter"></i>&nbsp;&nbsp;<strong><a href="#">Utilizing social media for early hospital notification of multiple casualty events</a></strong>
			- Working with the project's lead investigator, <a href="http://surgery.ucsf.edu/faculty/general-surgery/rachael-a-callcut,-md,-msph.aspx">Dr. Rachael Callcut</a>, I visualized and performed preliminary quantitative and qualitative analyses on nearly 4 million tweets from the week immediately following five recent U.S. multiple injury events in the United States. <!--As a follow-up, I facilitated collection of and performed preliminary analyses on approximately 55 million tweets during the week preceding and week following Super Bowl 50 in 2016.--> Dr. Callcut presented a preview of the findings at the <a href="http://www.westerntrauma.org/documents/meeting/2017/WTA_2017_FinalProgram_condensed.pdf">Western Trauma Association's 2017 annual meeting</a> and the project's manuscript is currently under review.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Enabling discoverability and reproducibility of data visualizations in R</a></strong>
			- During my summer internship at Genentech in 2015, I began development on the trackr project envisioned by my supervisor, Dr. Gabe Becker. The trackr and histry R packages 'record' plots and other artifacts of data analysis, store and annotate them automatically in a searchable backend, with the ultimate goal of discoverability, reproducibility, and provenance. The project has since been released <a href="https://github.com/gmbecker/recordr">on GitHub</a> and its accompanying <a href="http://arxiv.org/abs/1706.04440">manuscript</a> is currently under review.
		</h5>

    </div>
  </div>
</section>
