<section class="vitae-section">
  <h1>Publications</h1>

    <article>
        <header>
            <h1>Trauma Patient Outcomes</h1>
        </header>
        <p>{% bibliography --file traumapapers %}</p>
    </article>

<!--
**Moore SE**, Decker A (co-first authors), Hubbard A, Callcut RA, Fox EE, del Junco DJ, Holcomb JB, Rahbar MH, Wade CE, Schreiber MA, Alarcon LH, Brasel KJ, Bulger EM, Cotton BA, Muskat P, Myers JG, Phelan HA, Cohen MJ, on behalf of the PROMMTT Study Group. Statistical machines for trauma hospital outcomes research: Application to the PRospective, Observational, Multi-Center Major Trauma Transfusion (PROMMTT) study. *PLoS ONE*. 2015;10(8): e0136438. [doi:10.1371/journal.pone.0136438](http://dx.plos.org/10.1371/journal.pone.0136438)
-->

    <article>
        <header>
            <h1>Adolescent Mental Health Outcomes</h1>
        </header>
        <p>{% bibliography --file teenmntlhlthpapers %}</p>
    </article>
<!--
* Mu KJ, **Moore SE**, LeWinn KZ. Internet use and adolescent binge drinking: Findings from the Monitoring the Future study. *Addictive Behaviors Reports*. 2015;2: 61--66. [doi:10.1016/j.abrep.2015.09.001](http://dx.doi.org/10.1016/j.abrep.2015.09.001)
-->

    <article>
        <header>
            <h1>Neurobiology of Reward in Adolescents</h1>
        </header>
        <p>{% bibliography --file teenrewardpapers %}</p>
    </article>

<!--
* Engelmann JB, **Moore S**, Capra CM, Berns GS. Differential neurobiological effects of expert advice on risky choice in adolescents and adults. *SCAN*. 2012;7(5):557--567. [doi:10.1093/scan/nss050](http://dx.doi.org/10.1093/scan/nss050)
* Berns GS, **Moore SE**. A neural predictor of cultural popularity. *Journal of Consumer Psychology*. 2012;22(1):154--160. [doi:10.1016/j.jcps.2011.05.001](http://dx.doi.org/10.1016/j.jcps.2011.05.001)
* Berns GS, Capra CM, **Moore S**, Noussair C. Neural mechanisms of the influence of popularity on adolescent ratings of music. *NeuroImage*. 2010;49(3):2687--2696. [doi:10.1016/j.neuroimage.2009.10.070](http://dx.doi.org/10.1016/j.neuroimage.2009.10.070)
* Berns GS, **Moore S**, Capra CM. Adolescent engagement in dangerous behaviors is associated with increased white matter maturity of frontal cortex. *PLoS ONE*. 2009;4(8):e6773. [doi:10.1371/journal.pone.0006773](http://dx.doi.org/10.1371/journal.pone.0006773)
-->

    <article>
        <header>
            <h1>Neurobiology of Sacred Values</h1>
        </header>
        <p>{% bibliography --file sacredvaluespapers %}</p>
    </article>

<!--
* Berns GS, Bell E, Capra CM, Prietula MJ, **Moore S**, Anderson B, Ginges J, Atran S. The price of your soul: Neural evidence for the non-utilitarian representation of sacred values. *Philosophical Transactions of the Royal Society B*. 2012;367(1589):754--762. [doi:10.1098/rstb.2011.0262](http://dx.doi.org/10.1098/rstb.2011.0262)
-->

    <article>
        <header>
            <h1>Neurobiology of Uncertainty over Losses</h1>
        </header>
        <p>{% bibliography --file shockpapers %}</p>
    </article>

<!--
* Berns GS, Capra CM, Chappelow J, **Moore S**, Noussair C. Nonlinear neurobiological probability weighting functions for aversive outcomes. *NeuroImage*. 2008;39(4):2047--2057. [doi:10.1016/j.neuroimage.2007.10.028](http://dx.doi.org/10.1016/j.neuroimage.2007.10.028)
* Chandrasekhar PVS, Capra CM, **Moore S**, Noussair C, Berns GS. Neurobiological regret and rejoice functions for aversive outcome. *NeuroImage*. 2008;39(3):1472--1484. [doi:10.1016/j.neuroimage.2007.10.027](http://dx.doi.org/10.1016/j.neuroimage.2007.10.027)
* Berns GS, Capra CM, **Moore S**, Noussair C. A shocking experiment: new evidence on probability weighting and common ratio violations. *Judgement and Decision Making*. 2007;2:234--242. [journal.sjdm.org/7801/jdm7801.htm](http://journal.sjdm.org/7801/jdm7801.htm)
-->

<!--

### In Press

-->

    <article>
        <header>
            <h1>In Preparation</h1>
        </header>
	    <p><ul>
		    <li>An exploratory study of hypercoagulability and related outcomes in traumatically injured patients.</li>
		    <li>Patient-specific semi-parametric prediction with applications to the PROPPR study.</li>
		    <li>viztrackr: A framework for discoverability and provenance tracking for data visualizations</li>
	    </ul></p>
    </article>

</section>

<section class="vitae-section">
  <h1>Conference Papers, Posters, &amp; Presentations</h1>

      <article>
        <header>
            <h1>Neurobiology of Uncertainty over Losses</h1>
        </header>
        <p>{% bibliography --file confpres %}</p>
    </article>

<!--
* **Moore SE**, Hubbard AE, Cohen MJ, on behalf of the PROPPR Study Group. Patient-specific semi-parametric prediction with applications to the PROPPR study. Oral 'speed' session and e-poster presented at the Joint Statistical Meetings; August, 2015; Seattle, Washington.
* Spaniol J, Madden DJ, Voss A, **Moore SE**. Adult age differences in episodic and semantic retrieval: A diffusion model analysis. Poster presented at the 46th Annual Meeting of the Psychonomic Society; November, 2005; Toronto, Ontario, Canada. [Abstract](http://www.psychonomic.org/Assets/a5e598d1-5aef-4522-be84-411879deb2c9/635239931592630000/abstracts05-pdf)
-->

</section>
<hr />