<section class="vitae-section">
  <h1>Technical Skills</h1>

  <article>
    <header>
      <h1>Programming, Scripting, &amp; Markup Languges</h1>
    </header>
    <ul>
      <li><strong>Current</strong>: R, \(\LaTeX\), Shell (bash), STATA, Markdown, HTML / CSS, JSON</li>
      <li><strong>Past</strong>: Scala, Java, C++, C, Objective-C (Cocoa Touch), PHP, OpenGL, Matlab, SAS, SPSS, XML</li>
      <li><strong>Familiar</strong>: Python, JavaScript, Perl, Rails</li>
    </ul>
  </article>
  <article>
    <header>
      <h1>Operating Systems &amp; Frameworks</h1>
    </header>
    <ul>
      <li><strong>Desktop</strong>: Mac OS, Windows, Linux (Ubuntu), Unix, BSD (FreeBSD)</li>
      <li><strong>Mobile</strong>: iOS, Android</li>
      <li><strong>Frameworks</strong>: Sun Grid Engine, LSF, Hadoop, Drupal, Amazon EC2</li>
    </ul>
  </article>
  <article>
    <header>
      <h1>Other Languages &amp; Software</h1>
    </header>
    <ul>
      <li>SPM (8, 5, 2, 99), FSL, AFNI</li>
      <li>Cogent, Psychophysics toolbox, NBS Presentation, E-Prime/E-Basic</li>
      <li>MRIcro, MRIcron</li>
      <li>Microsoft Word, Excel, PowerPoint, Access</li>
      <li>Adobe Photoshop, Illustrator, Acrobat, Dreamweaver</li>
      <li>Zotero, EndNote</li>
    </ul>
  </article>

<!--
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
    </article>
-->

</section>
<hr />