<section class="vitae-section">
  <h1>Teaching</h1>
      <article>
        <header>
            <h1>Graduate Student Instructor</h1>
            <p><a href="http://www.berkeley.edu/">University of California, Berkeley</a></p>
            <span><time>Aug 2011 to Dec 2012; Mar to May 2014 &amp; 2015</time><address>Berkeley, CA</address></span>
        </header>
        <p><ul>
        	<li>Conducted discussion sections</li>
        	<li>Developed and refined discussion section teaching material</li>
        	<li>Held office hours</li>
        	<li>Graded assignments and exams</li>
        	<li>Led lecture, as needed. Example audio/screencasts:
        		<ul>
        			<li><a href="http://youtu.be/nBBbT2lmZ5E">PH241, 16 April 2012</a></li>
        			<li><a href="http://youtu.be/jnVVm0ECWBA">PH241, 18 April 2012</a></li>
        		</ul>
        	</li>
        </ul></p>
        <p>
	        Courses, in reverse chronological order:
	        <ul>
		        <li>Public Health W142, <em>"Intro to Probability and Statistics in Biology and Public Health"</em> (<a href="http://onlinemph.berkeley.edu/">On-Campus/Online Professional MPH Degree Program</a>)</li>
		        <li>Public Health 245, <em>"Intro to Multivariate Statistics"</em></li>
		        <li>Public Health 141, <em>"Intro to Biostatistics"</em></li>
		        <li>Public Health 241, <em>"Statistical Analysis of Categorical Data"</em></li>
		        <li>Public Health 142, <em>"Intro to Probability and Statistics in Biology and Public Health"</em></li>
	        </ul>
        </p>
        <!--
		Mar to May 2014 &amp; 2015
		August 2012 -- December 2012
		July 2012 -- August 2012
		January 2012 -- May 2012
		August 2011 -- December 2011
		-->
    </article>
    <!--
    <article>
        <header>
            <h1>Student Employee</h1>
            <p><a href="http://www.duke.edu/">Duke University</a>, Academic Technology Services</p>
            <span><time>May 2002 to Dec 2002</time><address>Durham, NC</address></span>
        </header>
        <p><ul>
        	<li>Taught software workshops to faculty, staff, graduate and undergraduate students</li>
			<li>Developed new course material for web and workshops</li>
		</ul></p>
    </article>
    -->
</section>
<hr />