<section class="vitae-section">
  <h1>Volunteering</h1>
    <article>
        <header>
            <h1><a href="https://www.arflife.org/pet-hug-pack-and-reg-84">Pet Hug Pack</a> volunteer</h1>
            <p><a href="https://www.arflife.org/">Tony La Russa's Animal Rescue Foundation</a></p>
            <span><time>Nov 2016 to present</time><address>Walnut Creek, CA</address></span>
        </header>
       <p>My dog and I visit schools (via ARF's <a href="https://www.arflife.org/all-ears-reading">All Ears Reading</a>&reg; program), colleges, and other facilities as a therapy pet/handler team.</p>
    </article>
</section>
<hr />